<nav class="navbar navbar-dark bg-primary navbar-sm mb-2">
  <div>
    <a class="navbar-brand h1" href="/admin">Home</a>
  </div>

  <div>
    <ul class="nav my-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin/customer/add">Add Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products/add">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/order/add">Add Order</a>
      </li>
    </ul>
  </div>

</nav>

<style>
  .nav-link{
    color: black;
  }
</style>