<div class="bd-sidebar">
    <ul>
        <li>
            <a href="/admin/customers">Customers</a>
        </li>
        <li>
            <a href="/admin/products">Products</a>
        </li>
        <li>
            <a href="/admin/orders">Orders</a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="/admin/product/categorys">Product Categorys</a>
        </li>
        <li>
            <a href="/admin/product/productDetail">Product Detail</a>
        </li>
    </ul>

</div>