<div class="bd-sidebar">
    <ul>
        <li>
            <a href="/admin/customers">Customer</a>
        </li>
        <li>
           <a href="/admin/products">Products</a> 
        </li>
        <li>
           <a href="/admin/orders">Orders</a> 
        </li>
    </ul>
</div>