<div class="bd-sidebar pt-3">
    <ul>      
        <li>
            <a href="/admin/product/categories"><i class="fas fa-bookmark"></i> Product Category</a>
        </li>
        <li>
            <a href="/admin/products"><i class="fas fa-boxes"></i> Products</a>
        </li>
        <!-- <li>
            <a href="/admin/product/productDetail"><i class="fas fa-info-circle"></i> Product Detail</a>
        </li> -->
        <li>
            <a href="/admin/adminlist"><i class="fas fa-user-cog"></i> admin</a>
        </li>
        <!-- <li>            
            <a href="/admin/customers"><i class="fas fa-user-friends"></i> Customers</a>
        </li>
        <li>
            <a href="/admin/orders"><i class="fas fa-shopping-bag"></i> Orders</a>
        </li> -->
        <li>            
            <a href="/admin/quotes"><i class="fas fa-shopping-bag"></i> Quotes</a>
        </li>
        <li>
            <a href="/admin/inquiries"><i class="fas fa-file"></i> Inquires</a>
        </li>
        <!-- <li>
            <a href="#"><i class="fas fa-file"></i> Pages</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-envelope"></i> Notification</a>
        </li>  -->
    </ul>
</div>