<div class="bd-sidebar">
    <ul>
        <li>
            <a href="/admin/Customer">Customer</a>
        </li>
        <li>
            Products
        </li>
        <li>
            Orders
        </li>
    </ul>
</div>