<div class="row testimonials">
    <div class="col-sm-4">
        <div class="heading-primary mb-5">What Our customers say?</div>
        <div class="hero-wrapper">
            <img src="/public/images/barro.jpg" alt="hero" class="hero">
        </div>
        <div class="comment">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi iusto excepturi in ut.
                Cupiditate reiciendis laudantium neque a earum eius perspiciatis perferendis dolorem natus sit rerum
                mollitia, unde vero.</p>
        </div>
        <div class="customer">
            Kristi Burino
        </div>
        <button class="button">View all</button>
    </div>
</div>