// HEADER
.header {
    // display: flex;
    // background-color: #fff;
    // justify-content: center;
    // flex-direction: column;
    display: grid;
}

// TOP
.top {
    // margin: 0 6rem;
    background: rgb(241, 241, 241);
    .contain {
        display: flex;
        justify-content: space-between;
        min-height: 2rem;
        align-items: center;
        @media screen and (max-width: 550px) {
            flex-direction: column;
        }
    }
}

// MIDDLE
.middle {
    // margin: 0 6rem;
    background-color: #fff;
    .contain {
        display: flex;
        justify-content: space-between;
        min-height: 8rem;
        align-items: center;
        font-size: 1.3rem;
        @media screen and (max-width: 550px) {
            flex-direction: column;
        }
    }
}


// container width 6rem margin
.contain {
    margin: 0 6rem;
    @media screen and (max-width: 550px) {
        margin: 1rem auto;
    }
}


// FOOTER
.footer {
    min-height: 8rem;
    background-color: var(--color-grey-dark-3);
    color: var(--color-grey-light-2);
    font-size: 1.3rem;
    font-weight: normal;
    flex-direction: column;
    .row{
        display: flex;
        justify-content: center;
    }

}

.row {
    margin: 0;
    padding: 0;
}