<div class="contain">
    <div class="row">
        <div class="col-sm-3 sidebar padding-zero">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
            </div>
            <div class="card">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint quam ea ut ipsum officiis
                    dignissimos, quia alias sed fuga dolor est voluptatum. Ullam sint vel, rerum omnis voluptas
                    maxime?
                </div>
            </div>

        </div>
        <div class="col-sm-9 main-content">
            <div class="about">
                <h4 class="heading-primary">About Us</h4>
                <h6 class="heading-tertiary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure nemo
                    nobis ex expedita.</h6>
                <hr>
                <p>National Exports Private Limited (National Exports Pvt. Ltd. / NEPL) is an export company
                    located in Kathmandu, the Capital city of Nepal.</p>
                <p>In a short span of time, we have grown to become one of the leading and most trusted exporter
                    of Nepalese products which include Soap Nuts, Cordyceps, medicinal herbs, organic products,
                    garments, handicrafts and other Nepalese products. Customers basically from the American and
                    European market go for Natural Products that originate from Nepal.</p>
                <p>We offer products at prices up to 50% less than the competition and support them all with
                    world-class 24/7 live customer service. Turstworthiness and Realiability has become our
                    synonym which has helped us earn goodwill which is the greatest assest for us. We ensure100%
                    Organic and competitively-priced products available anytime. We offer almost 197 Organic
                    Products for our customers. We offer a complete product line, including comprehensive
                    business solutions for start up Green Businesses, Distributorship role to our clients for
                    their local Area and many more.
                </p>
                <p>
                    We are widely recognized for our success. Having been listed on the list of the nation's fastest-growing privately held export companies, National Exports Pvt. Ltd. has become the most popular Export Company from Nepal for Clients almost all around the globe by providing innovative, competitively-priced Organic products, delivering the highest quality customer service, and by always appreciating and listening to its customers!
                </p>
            </div>
        </div>
    </div>
</div>