<div class="container mt-4 mb-2">
    <h4>Company Profile: Y and B International Jadibuti Suppliers</h4>
    <p>        
        National ExportsNational Exports Private Limited (National Exports Pvt. Ltd. / NEPL) is an export company
        located in Kathmandu, the Capital city of Nepal.</P>

    <p>In a short span of time, we have grown to become one of the leading and most trusted exporter of Nepalese
        products which include Soap Nuts, Cordyceps, medicinal herbs, organic products, garments, handicrafts and other
        Nepalese products. Customers basically from the American and European market go for Natural Products that
        originate from Nepal.</p>

    <p>We offer products at prices up to 50% less than the competition and support them all with world-class 24/7 live
        customer service. Turstworthiness and Realiability has become our synonym which has helped us earn goodwill
        which is the greatest assest for us. We ensure100% Organic and competitively-priced products available anytime.
        We offer almost 197 Organic Products for our customers. We offer a complete product line, including
        comprehensive business solutions for start up Green Businesses, Distributorship role to our clients for their
        local Area and many more.</p>

    <p>We are widely recognized for our success. Having been listed on the list of the nation's fastest-growing
        privately held export companies, National Exports Pvt. Ltd. has become the most popular Export Company from
        Nepal for Clients almost all around the globe by providing innovative, competitively-priced Organic products,
        delivering the highest quality customer service, and by always appreciating and listening to its customers!</p>

    <p>About www.nepl.com.np,
        Our websites provides full information regarding our products/services. You can get information about how to use
        the products and other services.</p>

    <p>Established on 2008 A.D., National Exports is the first and largest exporter of Graded Soapnuts (Quality
        filtered) and its products, here in Nepal, exporting Soap Nuts to more than 32+ countries around the world. We
        have our own warehouse cum processing unit for soapnuts processing, soapnut powder manufacturing, cotton bag
        manufacturing and garment manufacturing unit.
    </p>
</div>