<div class="contain">
    <div class="main-content">
        <div class="about">
            <h4 class="heading-primary">About Us</h4>
            <h6 class="heading-tertiary"><%= page.pageTitle %></h6>
            <hr>
            <p>National Exports Private Limited (National Exports Pvt. Ltd. / NEPL) is an export company
                located in Kathmandu, the Capital city of Nepal.</p>
            <br>
            <p><%- page.description %></p>
            <p>
                We are widely recognized for our success. Having been listed on the list of the nation's fastest-growing
                privately held export companies, National Exports Pvt. Ltd. has become the most popular Export Company
                from Nepal for Clients almost all around the globe by providing innovative, competitively-priced Organic
                products, delivering the highest quality customer service, and by always appreciating and listening to
                its customers!
            </p>
        </div>
    </div>
</div>