<div class="contain">
    <div class="row">
        <div class="col-sm-9 main-content">
            <div class="about">
                <div class="card mb-5">
                    <div class="card-header">
                        <h4 class="heading-secondary">Charles Manson: The Incredible Story of the Most Dangerous
                            Man Alive</h4>
                        <span><i class="fas fa-user"></i> Arron Dragon</span>&nbsp;&nbsp; <span><i
                                class="fas fa-calendar-alt"></i> 2020-03-15</span>
                    </div>
                    <img class="card-img-top" src="img/a4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p>
                            Three young girls dance down the hallway of the Superior Court Building in Los
                            Angeles, holding hands and singing one of Charlie’s songs. They might be on their
                            way to a birthday party in their short, crisp cotton dresses, but, actually they are
                            attending a preliminary hearing to a murder trial.

                            A middle-aged lady in Bel Air wants to “mother” Charlie, and two little girls send a
                            letter to him in jail.

                            “At first we thought you were guilty. But then we read in the papers about these
                            kids who were stabbed to death in the same way as the Sharon Tate murders. We knew
                            you hadn’t done it because you were in jail at the time. We knew you hadn’t done it
                            anyway when we saw your face in the newspaper. . . .
                        </p>
                        <div class="button-wrapper">
                            <button class="button">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-5">
                    <div class="card-header">
                        <h4 class="heading-secondary">Monday Night Lights</h4>
                        <span><i class="fas fa-user"></i> Kelefa Sanneh</span>&nbsp;&nbsp; <span><i
                                class="fas fa-calendar-alt"></i> 2020-03-15</span>
                    </div>
                    <img class="card-img-top" src="img/a2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p>
                            In 2009, after a particularly disappointing season, the Buccaneers fired him, but,
                            instead of moving on, he stayed put, and prospered. Gruden, who is now forty-eight,
                            remained in Tampa, with his wife and three sons. He rented an office in a local
                            strip mall, where he began presiding over irregular gatherings of a group that he
                            calls the Fired Football Coaches Association. (He keeps boxes of F.F.C.A. visors and
                            T-shirts in the bathroom, stacked in the shower stall.) Gruden’s office contains one
                            of the country’s greatest collections of football videotapes, sorted according to a
                            complicated taxonomy of his own devising. He says, “You want to talk about
                            two-minute offense? Ball security? Nickel jam? Red-zone touchdown passes?
                            Quarterback fundamentals? Read options? Three-down nickel blitzes? Checkdowns?
                            Wildcats? I got it all down here.”

                            A few weeks after Gruden was fired, he got a call from a TV producer, who wanted him
                            to evaluate college players for coverage of the N.F.L. draft. His technical facility
                            and slightly screwy intensity transformed an interminable event into something a
                            regular person might watch, at least for a few minutes: in Gruden’s amplified view,
                            the seemingly mundane selection process is actually a series of criminally good
                            deals and unconscionable misjudgments. In May, 2009, ESPN announced that Gruden
                            would be joining “Monday Night Football,” the network’s top-rated show, as one of
                            two analysts, alongside Ron Jaworski, a former quarterback, and Mike Tirico, the
                            play-by-play announcer. Jaworski is an erudite football scholar, and a levelheaded
                            one, which means that he sometimes seems like Gruden’s sensible sidekick, or perhaps
                            his minder.
                        </p>
                        <div class="button-wrapper">
                            <button class="button">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 sidebar padding-zero p-4">
            <h5 class="class-secondary">Category</h5>
            <ul class="view-tree p-5">
                <li><a href="#" class="view-tree__link"></a>Felt Products</li>
                <li><a href="#" class="view-tree__link"></a>Silajit</li>
                <li><a href="#" class="view-tree__link"></a>Soap Nuts</li>
                <li><a href="#" class="view-tree__link"></a>Cordyceps</li>
            </ul>
        </div>
    </div>
</div>