<div class="row justify-content-center align-items-center" style="height:80vh">
    <div class="col-md-6">
        <div class="h4">Contact Us</div>
        <small>Reach out to us for any inquiry</small>                   
        <hr class="mb-4">
        <%- include('../partials/errorMessage.ejs') %>
        <form action="" method="POST">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label-sm">Name<span class="text-danger"> *</span></label>
                <div class="col-sm-8">
                    <input type="text" name="name" id="name" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label-sm">Email<span class="text-danger"> *</span></label>
                <div class="col-sm-8">
                    <input type="email" name="email" id="email" class="form-control form-control-sm">                    
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label-sm">Subject<span class="text-danger"> *</span></label>
                <div class="col-sm-8">
                    <input type="text" name="subject" id="subject" class="form-control form-control-sm">
                </div>
            </div>
          
            <div class="form-group row">
                <label class="col-sm-4 col-form-label-sm">Message<span class="text-danger"> *</span></label>
                <div class="col-sm-8">
                    <textarea name="message" id="message" class="form-control form-control-sm" rows="5"></textarea>
                </div>
            </div>    
          
            <input type="submit" value="Submit" class="btn btn-sm btn-success btn-block">
        </form>         
    </div>
    <div class="col-md-6">
        <div class="div mb-2" style="width: 100%; height: 250px; background: gray;">
            
        </div>
        <ul style="list-style: none; margin: 0; padding: 0;" class="mt-2">
            <li><h4>YnB Internationals Jadibuti Suppliers</h4></li>
            <li><i class="fas fa-map-marker-alt"></i> Nepalgunj-20, Banke, Nepal</li>
            <li><i class="fas fa-phone"></i> 9858084583</li>
            <li><i class="fas fa-envelope"></i> info@ynbinternationals.com</li>
            <li><i class="fas fa-envelope"></i> sales@ynbinternationals.com</li>
        </ul>
    </div>
</div>            