<div class="h4 mt-4">Payment Mode - 100% Advance</div>
<small>Reach out to us for any inquiry</small>
<hr>
<div class="card p-2">
    <div class="card-body">
        <h5 class="text-center mb-2">Bank Details</h5>
        <table class="table border-0 table-responsive-sm mt-2">
            <tbody>              
                <tr>
                    <th>Bank</th>
                    <td>NIC Asia Bank Ltd.</td>
                </tr>
                <tr>
                    <th>AC No.</th>
                    <td>0544150024999002</td>
                </tr>
                <tr>
                    <th>Swift Code</th>
                    <td>NICENPKA</td>
                </tr>
            </tbody>
            <!-- <tfoot class="text-center">
                <small>Check out our terms and condition for additional charges</small>
            </tfoot> -->
        </table>
    </div>
</div>