<div>
    <h2>Order</h2>
</div>

<div>
    <form action="" method="post">
        <div>
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity">
        </div>
        <div>
            <label for="productId">Product Id</label>
            <input type="text" name="productId">
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" name="date">
        </div>
        <div>
            <label for="customerId">Customerm Id</label>
            <input type="text" name="customerId">
        </div>
    </form>
</div>