<footer class="footer mt-3" style="background: rgb(216, 216, 216);">
    <div class="container text-center p-4">
        <span>Member of Nepal Jadibuti Sang</span>
        <br>
        <span>&copy; copyright by YnB Internationals Jadibuti Suppliers, 2020</span>
    </div>
  </footer>