<footer class="footer mt-3" style="background: rgb(216, 216, 216);">
    <div class="container text-center p-4">
        <span>Member of Nepal Jadibuti Sang</span>
        <br>
        <span><a href="/terms">Terms And Conditions</a></span>
        <br>
        <span>&copy; copyright by Y&B International Jadibuti Suppliers, <%= new Date().getFullYear();%></span>
    </div>
  </footer>