<div>
    <h2>Customer</h2>
</div>

<div>
    <form action="" method="post">
        <div>
            <label for="fname">First Name</label>
            <input type="text" name="fname">
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input type="text" name="lname">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="tel" name="phone">
        </div>
        <div>
            <label for="address1">Address 1</label>
            <input type="text" name="address1">
        </div>
        <div>
            <label for="address2">Address 2</label>
            <input type="text" name="address2">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" name="city">
        </div>
        <div>
            <label for="state">State/Region</label>
            <input type="text" name="state">
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" name="country">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
    </form>
</div>