<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/customers">Customers</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Customers</li>
    </ol>
</nav>