<div class="container col-md-8 mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/customers">Customer</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Customer</li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-header bg-primary text-light">
            <h2 class="m-auto">Customer</h2>
        </div>

        <div class="card-body bg-light text-dark">
            <form action="" method="post">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" name="phone" class="form-control">
                </div>
                <div>
                    <label for="address1">Address 1</label>
                    <input type="text" name="address1" class="form-control">
                </div>
                <div class="form-group">
                    <label for="address2">Address 2</label>
                    <input type="text" name="address2" class="form-control">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" name="city" class="form-control">
                </div>
                <div class="form-group">
                    <label for="state">State/Region</label>
                    <input type="text" name="state" class="form-control">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <input type="submit" class="btn btn-success btn-lg btn-block" value="Register">
            </form>
        </div>
    </div>
</div>