<div class="card">
    <div class="card-header bg-primary text-light">
        <h4 class="my-auto">DashBoard</h4>
    </div>
    <div class="card-body">
        <div class="row justify-content-md-center">
            <!-- Users -->
            <!-- <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="fas fa-user"></i></h5>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/customers">
                            <h6>Customers</h6>
                        </a>
                    </div>
                </div>
            </div> -->

            <!-- Vendors -->
            <div class="col-md-4 text-center">

                <div class="card">
                    <div class="card-body">
                        <h5><i class="fab fa-airbnb"></i></h5>
                        <h6><%= products %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/products">
                            <h6>Products</h6>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Services -->
            <!-- <div class="col-md-4 text-center">

                <div class="card">
                    <div class="card-body">
                        <h5><i class="fab fa-first-order"></i></h5>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/orders">
                            <h6>Orders</h6>
                        </a>
                    </div>
                </div>
            </div> -->

            <div class="col-md-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="fab fa-first-order"></i></h5>
                        <h6><%= inquiries %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/inquiries">
                            <h6>Inquires</h6>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 text-center">

                <div class="card">
                    <div class="card-body">
                        <h5><i class="fab fa-first-order"></i></h5>
                        <h6><%= quotes %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/quotes">
                            <h6>Quotes</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center mt-2">

                <div class="card">
                    <div class="card-body">
                        <h5><i class="fab fa-first-order"></i></h5>
                        <h6><%= blogs %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/blogs">
                            <h6>Blogs</h6>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>