<div class="row justify-content-center align-items-center" style="height:100vh">   
    <div class="col-md-6 p-5">
        <%- include('../partials/errorMessage.ejs') %>
        <div class="card border-0">
            <div class="card card-body border-0">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-6 text-center border-right ">
                        <img src="public/logo.png" alt="" width="82px;" height="80px">
                        <h4>HerbShop</h4>
                    </div>
                    <div class="col-sm-6">
                        <form action="" method="POST">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" id="" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" id="" class="form-control form-control-sm">
                            </div>
                            <input type="submit" value="Login" class="btn btn-primary btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="text-center">
           <p class="text-muted">Powered by <a href="">Able Infotech</a></p>
        </div>       
    </div>
</div>