<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/product/productDetail">Product Gallery</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Images</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header bg-primary text-light">
        <h4 class="my-auto">Add Images to the Gallery</h4>
    </div>
    <div class="card-body bg-light text-dark">
        <%- include('../../partials/errorMessage') %>
        <form action="gallery/5e68907ede387c25b8a7823b?_method=PUT" method="POST" enctype="multipart/form-data">
            <!-- <div class="form-group row">
                <label for="image" class="col-sm-2 col-form-label col-form-label-sm">Gallery</label>
                <div class="col-sm-4">
                    <input type="file" name="image" class="form-control form-control-sm" multiple>
                </div> -->
            <div class="form-group row">
                <label for="image" class="col-sm-2 col-form-label col-form-label-sm">Gallery</label>
                <div class="col-sm-6">
                    <div class="custom-file-container" data-upload-id="myUniqueUploadId" name="image">
                        <label>Upload File <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">Clear Images</a></label>
                        <label class="custom-file-container__custom-file">
                            <input name="image" type="file" class="custom-file-container__custom-file__custom-file-input" accept="*" multiple aria-label="Choose File">
                            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                            <span class="custom-file-container__custom-file__custom-file-control"></span>
                        </label>
                        <div class="custom-file-container__image-preview"></div>
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-success btn-sm btn-block" value="Submit">
                </div>

            </div>
        </form>
    </div>
</div>