<div>
    <h2>Product</h2>
</div>

<div>
    <form action="" method="post" enctype="multipart/form-data">
        <div>
            <label for="avatar">Avatar</label>
            <input type="file" name="avatar">
        </div>
        <div>
            <label for="localName">Local Name</label>
            <input type="text" name="localName">
        </div>
        <div>
            <label for="scientificName">Scientific Name</label>
            <input type="text" name="scientificName">
        </div>
        <div>
            <label for="nepaliname">Nepali Name</label>
            <input type="text" name="nepaliName">
        </div>
        <div>
            <label for="available">Availability</label>
            <input type="radio" name="available" value="true">True &nbsp; <input type="radio" name="available" value="false">False
        </div>
        <div>
            <label for="productCode">Product Code</label>
            <input type="text" name="productCode">
        </div>
        <div>
            <label for="category">Category</label>
            <select name="category">
                <option value=""></option>
            </select>
        </div>
    </form>
</div>